/* site navigation bar: unordered list with the "navbar" class */
ul.navbar {
  /* Fix the site navigation bar at the top of the screen even 
   * when scrolling */
  position: sticky;
  top: 0;
  width: 100%;

  list-style-type: none; /* removes bullet points from the list items */
  margin: 0; /* resets default browser margins */
  padding: 0; /* resets default browser paddings */
  overflow: hidden; /* prevents list items from going outside the list */
  border: 2px solid #8e7cc3; /* light purple */
  background-color: #636363; /* dark gray */
}
/* list items in site navigation bar */
ul.navbar li {
    float: left; /* makes <li> elements float next to each other */
    border-right: 2px solid #8e7cc3; /* light purple */
}
/* the last list item in site navigation bar */
ul.navbar li:last-child {
    border-right: none;
}
/* links in list items in site navigation bar */
ul.navbar li a {
  display: block; /* allows specifying padding, height, width, and margins */
  color: white; /* text color */
  text-align: center;
  padding: 14px 16px; 
  text-decoration: none; /* removes decoration from the link text */
}
/* when a link in list items in site navigation bar is hovered over
*  with the cursor */
ul.navbar li a:hover {
  background-color: #111111 /* black */
}
/* "active" class of links in list items in site navigation bar */
ul.navbar li a.active {
  background-color: #8e7cc3; /* light purple */
}

