/** Global Styles */
/** ------------- */
* {
  box-sizing: border-box;
}
html {
  background-color: #d3d3d3; /* light gray */
}
body {
  margin-top: 0px;
  margin-left: 35px;
  margin-right: 35px;
  margin-bottom: 0px;
  padding-bottom: 40px; /* must match footer height */
  font-size: 14px;
}
a {
  color: #6850af; /* purple */
  font-weight: bold;
  text-decoration: none;
}
hr {
  color: #8e7cc3; /* light purple */
}
h2 {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

/** add uniform space underneath sub-sections **/
#undergrad, #secondaryschool, #flightcontrolsystems, #chessmapper, #unixvm, #webpage {
  margin-bottom: 12px;
}
/** reduce font-size of skill lists slightly */
.skillset {
  font-size: 13px;
}

/** Resume Header */
/** ------------- */
h1 {
  font-size: 18px;
  margin-top: 25px;
  margin-bottom: 0;
  padding: 0;
}
header {
  text-align: center;
}
header address {
  font-size: 13px;
}
header address a {
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 5px;
  margin-right: 5px;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
}

/** Education section */
/** ----------------- */
.institution {
  font-weight: bold;
}
.location {
  font-style: italic;
}

/** Experience section */
/** ------------------ */

/** Projects section */
/** ---------------- */
.project {
  font-weight: bold;
}
.projecthighlights li {
  padding-left: 0;
}

/** Technical Skills section */
/** ------------------------ */

/** Certifications section */
/** ---------------------- */

/** styles for screens smaller than 800px (i.e., Mobile Phones) */
/** ----------------------------------------------------------- */
@media screen and (max-width: 800px) {
  
}

/* site navigation bar: unordered list with the "navbar" ID */
/* -------------------------------------------------------- */
ul#navbar {
  /* Fix the site navigation bar at the top of the screen even 
   * when scrolling */
  position: sticky;
  top: 0;
  width: 100%;

  list-style-type: none; /* removes bullet points from the list items */
  margin: 0; /* resets default browser margins */
  padding: 0; /* resets default browser paddings */
  overflow: hidden; /* prevents list items from going outside the list */
  border: 2px solid #8e7cc3; /* light purple */
  background-color: #636363; /* dark gray */
}
/* list items in site navigation bar */
ul#navbar li {
    float: left; /* makes <li> elements float next to each other */
    border-right: 2px solid #8e7cc3; /* light purple */
}
/* the last list item in site navigation bar */
ul#navbar li:last-child {
    border-right: none;
}
/* links in list items in site navigation bar */
ul#navbar li a {
  display: block; /* allows specifying padding, height, width, and margins */
  color: white; /* text color */
  text-align: center;
  padding: 14px 16px; 
  text-decoration: none; /* removes decoration from the link text 
                          * (underline) */
}
/* when a link in list items in site navigation bar is hovered over
*  with the cursor */
ul#navbar li a:hover {
  background-color: #111111 /* black */
}
/* "active" class of links in list items in site navigation bar */
ul#navbar li a.active {
  background-color: #8e7cc3; /* light purple */
}
/* ~~~ site footer ~~~ */
/* ------------------- */
footer {
  /* fix the site footer at the bottom of the screen */
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 40px;

  /* treat footer like a table row and children like cells */
  /*  - works with display: table-cell property on children */
  display: table;
  table-layout: fixed;

  margin: 0; /* reset default browser margins */
  padding: 0; /* reset default browser padding */
  line-height: 1;

  color: white; /* text color */
  font-size: small;

  background-color: #636363; /* dark gray */
}
/* paragraph elements in the site footer */
footer p {
  display: inline;
  margin-left: 9px; /* match right-margin of links on right side */
}
/* all links in the site footer */
footer a {
  color: white; /* text color */
  text-decoration: none; /* removes decoration from the link text 
                          * (underline) */
}
/* when a link in the site footer is hovered over with the cursor */
footer a:hover {
  background-color: #111111 /* black */
}

/* the "signature" element - contains "last update" and <address> elements 
 * within the site footer */
footer #signature {
  display: table-cell;
  vertical-align: top;
  float: left;
  margin-top: 7px;
}
/* the "lastupdate" <div> element in the site footer */
footer #lastupdate {
  display: block;
  width: fit-content;
}
/* the <address> element in the site footer */
footer address {
  display: block;
  width: fit-content;
  margin-top: 4px;
  margin-bottom: 4px;

  font-style: normal; /* removes default italics */
}
/* link with the "email" class within the <address> 
 * element in the site footer */
footer address a.email {
  color: #9FE2BF; /* seafoam green */
}
/* the "mylinks" <span> element in the site footer */
footer #mylinks {
  display: table-cell;
  vertical-align: middle;
  text-align: right;
  padding: 0;
}
/* the links within the "mylinks" <span> element in the site footer */
footer #mylinks a {
  display: inline-block; /* allows specifying padding, height, width, 
                          * and margins while still maintaining the 
                          * elements inline flow */
  padding: 7px 7px;
  border: 2px solid #8e7cc3; /* light purple */
}
footer #mylinks a:last-child {
  margin-right: 9px; /* make some room for the scroll bar */
}
