* {
  box-sizing: border-box;
}
html {
  background-color: #d3d3d3; /* light gray */
}
a {
  color: #6850af; /* purple */
  font-weight: bold;
  text-decoration: none;
}
hr {
  color: #8e7cc3; /* light purple */
}
header {
  padding: 1px;
  background: white;
}
header h1 {
  text-align: center;
  margin-top: 1px;
  margin-bottom: 1px;
  padding-top: 10px;
}
header h2 {
  text-align: center;
  margin-top: 1px;
  margin-bottom: 1px;
}
header h3 {
  padding-left: 10px;
}
.subheading {
  text-align: center;
  font-size: small;
  margin-top: 0;
  margin-left: 5px;
  margin-right: 5px;
}
body {
  padding: 20px;
  padding-bottom: 40px; /* must match footer height */
}
body h2 {
  margin: 0;
}
body h3 {
  margin: 0;
}
body h4 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.button {
  background-color: #8e7cc3; /* light purple */
  border: none;
  color: white;
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: center;
  text-decoration: none;
  display: block;
  cursor: pointer;
}
.smallbutton {
  background-color: #8e7cc3; /* light purple */
  border: 2px solid #636363; /* dark gray */
  color: white;
  padding-bottom: 10px;
  padding-top: 10px;
  margin: 5px;
  height: 75px;
  width: 150px;
  overflow: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
}

/* card effect for article links */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}
.card h2 {
  color: #6850af; /* purple */
}
.articleimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* creates two unequal columns that float next to each other */
/* --------------------------------------------------------- */
/* left column */
.leftcolumn {
  float: left;
  width: 65%;
}
/* right column */
.rightcolumn {
  float: left;
  width: 35%;
  padding-left: 20px;
}
/* clear floats after the columns */
main:after {
  content: "";
  display: table;
  clear: both;
}
/* Responsive layout - when the screen is less than 800px wide, make the
 * two columns stack on top of each other instead of next to each other */
 @media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}

/* site navigation bar: unordered list with the "navbar" ID */
/* -------------------------------------------------------- */
ul#navbar {
  /* Fix the site navigation bar at the top of the screen even 
   * when scrolling */
  position: sticky;
  top: 0;
  width: 100%;

  list-style-type: none; /* removes bullet points from the list items */
  margin: 0; /* resets default browser margins */
  padding: 0; /* resets default browser paddings */
  overflow: hidden; /* prevents list items from going outside the list */
  border: 2px solid #8e7cc3; /* light purple */
  background-color: #636363; /* dark gray */
}
/* list items in site navigation bar */
ul#navbar li {
    float: left; /* makes <li> elements float next to each other */
    border-right: 2px solid #8e7cc3; /* light purple */
}
/* the last list item in site navigation bar */
ul#navbar li:last-child {
    border-right: none;
}
/* links in list items in site navigation bar */
ul#navbar li a {
  display: block; /* allows specifying padding, height, width, and margins */
  color: white; /* text color */
  text-align: center;
  padding: 14px 16px; 
  text-decoration: none; /* removes decoration from the link text 
                          * (underline) */
}
/* when a link in list items in site navigation bar is hovered over
*  with the cursor */
ul#navbar li a:hover {
  background-color: #111111 /* black */
}
/* "active" class of links in list items in site navigation bar */
ul#navbar li a.active {
  background-color: #8e7cc3; /* light purple */
}

/* ~~~ site footer ~~~ */
/* ------------------- */
footer {
  /* fix the site footer at the bottom of the screen */
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 40px;

  /* treat footer like a table row and children like cells */
  /*  - works with display: table-cell property on children */
  display: table;
  table-layout: fixed;

  margin: 0; /* reset default browser margins */
  padding: 0; /* reset default browser padding */
  line-height: 1;

  color: white; /* text color */
  font-size: small;

  background-color: #636363; /* dark gray */
}
/* paragraph elements in the site footer */
footer p {
  display: inline;
  margin-left: 9px; /* match right-margin of links on right-side */
}
/* all links in the site footer */
footer a {
  color: white; /* text color */
  text-decoration: none; /* removes decoration from the link text 
                          * (underline) */
}
/* when a link in the site footer is hovered over with the cursor */
footer a:hover {
  background-color: #111111 /* black */
}

/* the "signature" element - contains "last update" and <address> elements 
 * within the site footer */
footer #signature {
  display: table-cell;
  vertical-align: top;
  float: left;
  margin-top: 7px;
}
/* the "lastupdate" <div> element in the site footer */
footer #lastupdate {
  display: block;
  width: fit-content;
}
/* the <address> element in the site footer */
footer address {
  display: block;
  width: fit-content;
  margin-top: 4px;
  margin-bottom: 4px;

  font-style: normal; /* removes default italics */
}
/* link with the "email" class within the <address> 
 * element in the site footer */
footer address a.email {
  color: #9FE2BF; /* seafoam green */
}
/* the "mylinks" <span> element in the site footer */
footer #mylinks {
  display: table-cell;
  vertical-align: middle;
  text-align: right;
  padding: 0;
}
/* the links within the "mylinks" <span> element in the site footer */
footer #mylinks a {
  display: inline-block; /* allows specifying padding, height, width, 
                          * and margins while still maintaining the 
                          * elements inline flow */
  padding: 7px 7px;
  border: 2px solid #8e7cc3; /* light purple */
}
/* the last link within the "mylinks" <span> element in the site footer */
footer #mylinks a:last-child {
  margin-right: 9px; /* make some room for the scroll bar */
}
